body {
    background-color: rgb(10, 10, 10);
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.emptySpace{
    height: 20px;
}

a:link {
    color: rgb(50, 150, 180) ;
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: rgb(50, 150, 180);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(50, 150, 180);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: rgb(50, 150, 180);
    background-color: transparent;
    text-decoration: none;
}