<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="/css/log.css">
</head>
<body>
<h1>Hellfreeze</h1>
        <div id="emptySpace"></div>
<div th:if="${param.error}">
        INVALID USERNAME AND PASSWORD
</div>
<div th:if="${param.logout}">
        YOU HAVE BEEN LOGGED OUT
</div>
<div th:if="${greeting}" th:text="${greeting}"></div>
<form th:action="@{/login}" method="post">
    <div><label> USERNAME: <input type="text" name="username"/> </label></div>
    <div id="smallEmptySpace"></div>
    <div><label> PASSWORD: <input type="password" name="password"/> </label></div>
    <div id="smallEmptySpace"></div>
    <div><input type="submit" value="Sign In"/></div>
    <div id="emptySpace"></div>
</form>
<a href="/registration">REGISTER NEW USER</a>
</body>
</html>




