<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hellfreeze</title>
    <link rel="stylesheet" href="/css/credits.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
<body>
<div class="smallEmptySpace"></div>
<h1>Hellfreeze
    - the Curse of the Ice Queen</h1>
<div class="smallEmptySpace"></div>
<div class="smallEmptySpace"></div>
<div class="story">
    The land of the north - Behlgard - is in chaos. Hell has frozen over
    and no evil creature can die. Even the Devil himself is caged in ice.
    All of this was done by a legendary curse cast by the wicked Ice Queen Zirla.
</div>
<div class="smallEmptySpace"></div>
<div class="story">
    The remaining forces of Behlgard had rallied behind King Gallowan
    to destroy Zirla once and for all before she could conqure the whole north.
    But the King did not know of the ice curse and every creature of Zirla they
    brought down in the battle rose up again.
</div>
<div class="smallEmptySpace"></div>
<div class="story">
    The King lost almost half of his forces before they had a chance to call for
    retreat. Now preassured in his last fort of defence King Gallowan must send his
    firstborn - You - to Hell with the mission to free the Devil and make hell
    the inferno it once was. And then send Zirla and her evil creatures there forever.
</div>
<div class="smallEmptySpace"></div>
<div class="story">
    Now go forth, free the Devil and bring hope back to Behlgard!
</div>


<div class="emptySpace"></div>

<ul id="makers">
    ROBIN BACKMAN
    - NIKLAS BURMAN
    - JESPER NYSTRÖM
    - SOFIE WESTERDAHL
    - JOAN YTTERBORG
</ul>

<div class="smallEmptySpace"></div>

<div id="specialThanks">
    Special thanks to JAMIE NORD MUSIC @Youtube
</div>

<div class="smallEmptySpace"></div>
<a href="/hemsida"> BACK TO GAME </a>

</body>
</html>